# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# DuckDB
*.duckdb
*.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Test cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db